
        body {
            background-color: #fee592;
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }
        h2 {
            color: #4b4343;
        }
        p {
            color: #000000;
        }
        .highlight {
            background-color: #ef6503;
            padding: 5px;
            border-radius: 5px;
        }
        .toplinks a {
            float: left;
            background-color: #4a4643;
            margin-right: 15px;
            color: #fff;
            font-weight: bold;
        }
        .toplinks a:hover {
            display: block;
            text-decoration: none;
            background-color: #ef6503;
            color: #fff;
        }

        .sidebar {
  width: 220px;
  min-width: 220px; /* prevents it from shrinking */
  flex-shrink: 0;   /* stops it from being squished */
}

.main-content {
  padding: 30px 40px;
  flex: 1; /* takes up remaining space */
}
        

    